:root {
  --primary: #1b53e0;
  --secondary: #fff;
  --primarylight: hsl(225, 76%, 31%);
  --section: #f9fafb;
  --herosection: #284aa1;
  --testing:#d3fb7d;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: 100dvh;
  height: 100;
}

/* Comman style class */

.cm {
  align-items: center;
  text-align: center;
  background-color: var(--section);
  padding: 30px;
}

.cm p {
  font-size: 18px;
  color: rgb(93, 92, 92);
  padding: 10px 0 40px 0;
}
/* Title section  */

.title-section {
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  justify-content: space-between;
  padding: 7px 30px;
}

.title{
  flex-grow: 0;
}
.title-item1{
  flex-grow: 3;

}

.title-section span i {
  padding: 9px;
}



/* Header menu section  */

.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0px;
}
.header-menu ul {
  display: flex;
  list-style: none;
}
/* header sub division for logo */

#header-item-logo {
  display: flex;
  justify-content: center;
  align-items: center; /* vertical centering */
  background-color: #ffffff;
  padding: 3px;
  /* width: 100%; this is need for mobil view */
}


#header-item-logo img {
  padding-right: 5px;
  height: 56px;
  width: 56px;
}



#header-item-logo .text1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--primarylight);
}
#header-item-logo p {
  color: rgb(100, 98, 98);
  font-weight: 400;
}

/* header sub division for menu like home about tests etc.. */

 .header-menu-item ul li a {
  color: rgb(69, 65, 65);
  font-weight: 600;
}

.header-menu-item ul li a:hover {
  color: var(--primarylight);
  font-weight: 600;
}
.header-menu ul li {
  margin-right: 40px;
  text-align: center;
}

.header-menu ul li a {
  text-decoration: none;
}

.header-menu ul li::after {
  content: "";
  display: block;
  background-color: var(--primary);
  height: 2px;
  transform: scaleX(0);
  transition: transform 300ms;
  margin-top: 10px;
}

.header-menu ul li:hover::after {
  transform: scaleX(1);
}

.header-menu-button {
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--primarylight);
}

.header-menu-button:hover {
  background-color: var(--primary);
}

/* Hero Section */

/* hero section first part */

.hero-section {
  display: flex;
  justify-content:space-evenly;
  color: var(--secondary);
  background-color: var(--primarylight);
  padding: 70px 60px;
  flex-wrap: wrap;
}

#hero-section-sub-item1 h1 {
  font-weight: bold;
  font-size: 48px;
  padding: 0 0 24px 0;
}

#hero-section-sub-item1 h4 {
  font-weight: 500;
  padding: 0 0 30px 0;
  font-size: 20px;
}

.book-test {
  padding-bottom: 30px;
}

.btn-test {
  background-color: var(--secondary);
  color: var(--primarylight);
  margin: 5px;
  border: solid 1px var(--secondary);
  padding: 10px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
}
.book-test .fa-phone {
  padding-right: 7px;
}

.btn-test:hover {
  color: var(--primary);
}

.btn-call {
  background-color: var(--primarylight);
  color: var(--secondary);
  padding: 10px 25px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  border: solid 1px var(--secondary);
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
}
.btn-call:hover {
  background-color: var(--secondary);
  color: var(--primarylight);
}

/* -----------Serach Test start------------ */
.search-container {
  position: relative;
  width: 80%;
}

.test-search {
  width: 100%;
  outline: none;
  border: 2px solid var(--primarylight);
  border-radius: 7px;
  font-size: 16px;
  padding: 12px 40px 12px 20px; /* right space for icon */
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  pointer-events: none; /* so clicks go to the input */
}

/* -----------Serach Test End------------ */

/* hero section second part */

#hero-section-sub-item2{
  display: flex;  
  flex-wrap: wrap;
}
.box {
  flex: 0 0 48%; /* two boxes per row (with some gap) */
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  text-align: center;
}

.full-width {
  flex: 0 0 100%;
}

#hero-section-sub-item2{
  background-color: var(--herosection);
  border-radius: 8px;
  padding: 40px;
}

/*  Health Packages */

.packages-card {
  display: flex;
  justify-content: center;
  background-color: var(--section);
  flex-wrap: wrap;
  gap: 2px 5px;
}

.packages-card div:first-child {
  border: solid 2px var(--primary);
  position: relative;
}
/* .mostpopular {
  padding: 5px;
  width: 50%;
  background-color: var(--primary);
  color: var(--section);
  border-radius: 10px;
  position: absolute;
  top: -15px;
  left: 70px;
} */
.price-card {
  flex-basis: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1),
    0 8px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: white;
  transition: transform 0.3s;
}
.price-card:hover {
  transform: translateY(-5px);
}

.plan-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.price {
  font-size: 2rem;
  color: var(--primarylight);
  margin: 10px 0;
  position: relative;
}

.line-through {
  position: absolute;
  top: 10px;
  padding-left: 5px;
  text-decoration: line-through;
}

.price span {
  font-size: 1rem;
  color: #666;
}

.features {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-align: left;
}

.features li {
  margin: 8px 0;
  padding-left: 20px;
  position: relative;
}

.features i::before {
  color: green;
  position: absolute;
  left: 0;
  top: 3px;
}

.Booktest-btn {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
  width: 100%;
}

.Booktest-btn:hover {
  background-color: var(--primarylight);
}

/* Why choose our Lab section */

.reason {
  display: flex; 
  background-color: var(--section);
  justify-content: center;
  flex-wrap: wrap;
  
  text-align: justify; 
  background-color: #fff;
}





.reason1{
  flex: 0 0 25%;
  text-align:center;
  background-color: var(--secondary);  
  
 
  height: auto; 

}

.reason1 h4{
  margin-top: 10px;
}

.reason1 span {
 padding: 15px 10px 10px 10px;
  border-radius: 50%;
  color: var(--primary);
  background-color: #e5e8f2;
}

.reason1 span:hover {
  background-color: #c1cae4;
}

/* Our services */

.ourservice {
  border: 1px solid var(--section);
  display: flex;
  justify-content: center;
  gap: 6px 6px; 
  margin: 0 30px;
  padding: 30px 10px;
  flex-wrap: wrap;
}

.service {
  height: 100px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 6px;
  width: 150px;
 flex-grow: 1;

  
}
.service span svg {
  height: 24px;
  width: 24px;
}

.service span  {
  height: 30px;
  width: 30px;
  margin: 15px;
  
}
.service svg {
  transition: transform 0.3s ease;
}

.service:hover svg {
  transform: scale(1.5);
}

.service span p {
  color: rgb(51, 51, 51);
  
}
.service p {
  text-align: center;
  padding-left: 2px;
}

.service span {
  font-size: 20px;
  font-family: 600;
  color: var(--primary);
  background-color: #e5e8f2;
  border-radius: 50%;
}

.service .one {
  color: #f74546;
  background-color:#fff;
}

.service .two {
  color: #00c669;
  background-color:#fff;
}

.service .three {
  color: #2d7ff0;
  background-color:#fff;
}

.service .four {
  color: #ad50f0;
  background-color:#fff;
}

.service .five {
  color: #ff742a;
  background-color:#fff;
}

.service .six {
  color: #08baaa;
  background-color:#fff;
}

/* What Our Customers Say Section */

.cust-service-2 {
  color: #facc15;
  padding: 20px;
}

.cust-service-flex {
  display: flex;
  background-color: var(--section);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2px 5px;
  padding: 0 10px;
  background-color: #fff;
}

.cust-service-1 {
 
  padding: 10px;
  background-color: var(--secondary);
  flex-basis: 400px;
}

#desc {
  padding: 0 0 3px 20px;
}
#name {
  padding: 10px 0 3px 20px;
}
#area {
  padding: 0px 20px;
}

/* Visit our location section   */

.location-service {
  border: 1px solid var(--section);
  display: flex;
  justify-content: space-evenly;
  gap: 2px 5px;
  padding: 0 10px;
  flex-wrap: wrap;
}
.location-service-group {
  font-size: 16px;
  flex-basis: 500px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(1, 1, 1, 0.1);
  background-color: #fff;
  padding: 10px 40px;
}

.loc-icon {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-align: left;
}

.loc-icon li {
  margin: 8px 0;
  padding-left: 30px;
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
}

.loc-icon i::before {
  color: var(--primary);
  position: absolute;
  left: 10px;
  top: 0px;
}
#address {
  margin-left: 8px;
  padding-bottom: 13px;
 
}
.direction {
  background-color: var(--primary);
  color: var(--secondary);
  margin: 5px;
  border: solid 1px var(--secondary);
  padding: 10px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
}

.btn-call1 {
  background-color: var(--secondary);
  color: var(--primarylight);
  padding: 10px 25px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  border: solid 1px var(--primary);
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
}

.btn-call1:hover {
  background-color: var(--primarylight);
  color: var(--secondary);
}

/* footer section */

.footer-section {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #101826;
  color: var(--secondary);
  padding-top: 30px; */

  display: flex; 


  color: var(--secondary);
  background-color: #101826;
  padding: 30px 30px;
  flex-wrap:wrap;
 
  
}
.cell{
  
  height: auto;  
  
  flex: 0 0 25%;  
  
 
}

.footer-logo-text .text1{    
    padding: 2px;

}

#footer-item2 ul li:first-child{
  font-size: 17px;
  font-weight: 600;
  padding-bottom:18px;

  
}

#footer-item2 ul li:first-child{
  font-size: 17px;
  font-weight: 600;
  padding-bottom:18px;

  
}
#footer-item2 ul li:first-child a{
  color:var(--secondary);  
}

#footer-item2 {   
  padding: 15px;
 
}
#footer-item3{ 
 padding: 15px;
}
#footer-item4{ 
  padding: 15px;
}

.lab-info-sub {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  position: relative;

  
}

.footer-logo
 {
  position: absolute;  
  top: 8px;
}

.footer-logo-text{
  margin-left: 60px;

}



.text-sm {
  margin-left: 2px;
  color: white;
}
.google-review {
  color: yellow;
  padding-top: 10px;
}
.google-review svg {
  width: 18px;
  height: 18px;
}


.quick-link  {
  margin-bottom: 10px;
}

.quick-link ul {
  list-style: none;
}
.quick-link ul li a {
  text-decoration: none;
  color: var(--secondary);
}

.footer-section p {
  color: rgb(203, 202, 202);
}
.footer-section li {
  color: rgb(203, 202, 202);
}


.contact-info ul {
  list-style: none;
}

.contact-info > :first-child {
  margin-bottom: 10px;
}




.loction-info > :first-child {
  margin-bottom: 10px;
}

.span-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  flex-wrap: wrap;
  background-color: #101826;
  color: var(--secondary);
  padding: 15px;
}
 @media only screen and (max-width: 600px) {
  .title-section {
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1px 1px;
    font-size: 10px;
  
  }

  .title-section span:not(:has(.fa-phone)) {
    padding-left: 15px;
    display: block;
   
  }
.title-section span:not(:has(.fa-phone)) {
  display: none;
}


.header-menu {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-content: center; 
  align-items: center;
  padding: 0 0px;
  background-color:var(--testing);
  position: relative;
}

.header-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}


.header-menu ul li {
  margin-right:0px;
  text-align: center;
}
.logo-text p{  
  font-size: clamp(15px, 2vw, 36px);
}
 
#header-item-logo {
  display: flex;
  align-items: center; 
  background-color: #ffffff;
  padding: 3px;
  width: 100%;
}

 .header-menu-item {
  position: relative;
 }
 
 .header-menu>:last-child
 {
  display: flex;
  justify-content: center;  
 }


 .hero-section {
  display: flex;
  flex-direction:column;
  justify-content: center; 
  padding: 5px;  
  color: var(--secondary);
  background-color: var(--primarylight); 

}


#hero-section-sub-item1 h1 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
}

#hero-section-sub-item1 h4 {
  font-weight: 300;
  padding:10px;
  font-size: 20px;
  text-align: center;
}

.book-test {
  padding-bottom: 30px;  
}

.btn-test {
  background-color: var(--secondary);
  color: var(--primarylight);
  margin: 5px;
  border: solid 1px var(--secondary);
  padding: 10px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display:block;
  font-weight: 700;
  margin-bottom: 20px;

  
  
}
.book-test .fa-phone {
  padding-right: 7px;
}

.btn-test:hover {
  color: var(--primary);
}

.btn-call {
  background-color: var(--primarylight);
  color: var(--secondary);
  padding: 10px 25px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  border: solid 1px var(--secondary);
  text-decoration: none;
  display:block;
  font-weight: 700;
}
.btn-call:hover {
  background-color: var(--secondary);
  color: var(--primarylight);
}

/* -----------Serach Test start------------ */
.search-container {
  position: relative;
  width: 100%;
}

.test-search {
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  border: 2px solid var(--primarylight);
  border-radius: 7px;
  font-size: 16px;
  padding: 12px 20px 12px 20px; /* right space for icon */
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  pointer-events: none; /* so clicks go to the input */
}

.location-service {
  border: 1px solid var(--section);
  display: flex;
  justify-content:center;
  
  padding: 0;
  flex-wrap: wrap;
}

.location-service-group {
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1),
    0 8px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
}

.direction {
  background-color: var(--primary);
  color: var(--secondary);
  margin: 5px;
  border: solid 1px var(--secondary);
  padding: 10px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-weight: 700;
}

.btn-call1 {
  background-color: var(--secondary);
  color: var(--primarylight);
  padding: 10px 25px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  border: solid 1px var(--primary);
  text-decoration: none;
  display:block;
  font-weight: 700;
}


#footer-item2 {   
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.span-row {  
 text-align: center;
  background-color: #101826;
  color: var(--secondary);
  padding: 15px;
}










.quick-link ul {
  list-style: none;
}
.quick-link ul li a {
  text-decoration: none;
  color: var(--secondary);
}

.footer-section p {
  color: rgb(203, 202, 202);
}
.footer-section li {
  color: rgb(203, 202, 202);
}


.contact-info ul {
  list-style: none;
}

.contact-info > :first-child {
  margin-bottom: 10px;
  margin-top: 10px;
}



.loction-info > :first-child {
  margin-bottom: 10px;
}


} 


@media (max-width: 1024px) {
  .cell {
    flex: 0 0 50%;         /* 100% / 2 = 50% each */
  }
}

/* ─── Mobile/Small: 1 column ─── */
@media (max-width: 600px) {
  .cell {
    flex: 0 0 100%;        /* 100% / 1 = 100% each */
    
  }



}





